In [1]:
from query_db import QueryDBPipeline

In [ ]:
# configs
question: str = "How many Employees are there?"
db_uri: str = "sqlite:///Chinook.db"
top_k: int = 10

In [ ]:
# init pipeline
pipeline = QueryDBPipeline(question, db_uri, top_k)

In [7]:
# ignore all warnings 
import warnings
warnings.filterwarnings('ignore')

In [ ]:
answer: str = pipeline.run()

:: Configured QueryDBPipeline ::
:: Generated SQL query :: ->  SELECT COUNT(*) AS EmployeeCount FROM Employee;
:: Executed SQL query  :: ->  [(8,)]
:: Generated Answer    :: ->  There are 8 Employees.