In [1]:
from query_db import QueryDBPipeline

In [2]:
# configs
question: str = "How many artists are there?"
db_uri: str = "sqlite:///Chinook.db"
top_k: int = 10

In [3]:
# init pipeline
pipeline = QueryDBPipeline(question, db_uri, top_k)

In [4]:
# ignore all warnings 
import warnings
warnings.filterwarnings('ignore')

In [5]:
answer: str = pipeline.run()

:: Configured QueryDBPipeline ::
:: Generated SQL query :: ->  SELECT COUNT(*) AS ArtistCount FROM Artist;
:: Executed SQL query  :: ->  [(275,)]
:: Generated Answer    :: ->  There are 275 artists.